@import "./glass"
@import "./google-map"

// >> quasar app global css
body.body--dark
  background-color: $dark-page

.q-drawer__backdrop
  background-color $transparent !important


.q-btn
  color $primary

body.body--dark
  .q-btn
    color $white


.q-field
  input
    color inherit

// <<

// >> winter-love global css

.w-grow
  flex-grow 1

.reflect
  transform scale(-1, 1)
