@import "./glass"

// app global css
body.body--dark
  background: $dark-page

.q-drawer__backdrop
  background-color $transparent !important


.q-field--dense
  .q-field__control
    height 32px


// >> google map
a[href^="http://maps.google.com/maps"]
  display none !important

a[href^="https://maps.google.com/maps"]
  display none !important

.gmnoprint a, .gmnoprint span, .gm-style-cc
  display:none

.gmnoprint div
  background:none !important

// <<
