light-dimmed-glass()
  background $light-dimmed-background
  backdrop-filter: blur(3px)

dark-dimmed-glass()
  background $dimmed-background
  backdrop-filter: blur(3px)

.q-btn.glass
  color $primary
  light-dimmed-glass()

body.body--dark .q-btn.glass
  color $white
  dark-dimmed-glass()

// >> q-drawer
.q-drawer-container.glass .q-drawer
  light-dimmed-glass()

body.body--dark .q-drawer-container.glass .q-drawer
  dark-dimmed-glass()

// <<

// >> q-card
.glass
  &.q-card
    light-dimmed-glass()

body.body--dark
  .glass
    &.q-card
      dark-dimmed-glass()

// <<

// >>field
.glass
  &.q-field, &.q-field.q-field--standout
    .q-field__control
      color $primary
      box-shadow $shadow-3
      light-dimmed-glass()

  &.q-field--focused.q-field--standout
    .q-field__control::after
      box-shadow 0 1px 5px $accent

    input
      color inherit

    i
      color inherit

body.body--dark .glass
  &.q-field, &.q-field.q-field--standout
    .q-field__control
      color $white
      box-shadow $shadow-3
      dark-dimmed-glass()

  &.q-field--focused.q-field--standout
    input
      color inherit

// <<
