/**
 * Fix Google map styles
 */

a[href^="http://maps.google.com/maps"]
  display none !important

a[href^="https://maps.google.com/maps"]
  display none !important

.gmnoprint a, .gmnoprint span, .gm-style-cc
  display:none

.gmnoprint div
  background:none !important

// for light house (SEO)
.gm-style
  font: 400 12px Roboto, Arial, sans-serif !important

// for light house (SEO)
.gmnoscreen div
  display none
